 <%= form_tag(profile_path(current_user.profile.id), :method => "get", id: "search-form", class: 'form') do %>
  <div class="form-group input-group">
    <%= text_field_tag :search, params[:search], placeholder: "Search Chapters", class: 'form-control' %>
    <span class="input-group-btn">
      
      <%= button_tag(class: "btn btn-default", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Search"}) do %>
          <i class="fa fa-search"></i>
      <% end %>
    </span>
  </div>
<% end %>
<div class="clients-list">
	<div class="full-height-scroll">
	  <div class="table-responsive">
	    <table class="table table-striped table-hover">
	      <tbody id="pets">
	        <%= render partial: 'profiles/pet', collection: @pets %>
	      </tbody>
	    </table>

	    <% if @pets.blank? %>
        <h4>There are no chapters containing the term <%= params[:search] %>.</h4>
      <% end %>

	  </div>
	</div>
</div>