<div class="wrapper wrapper-content">
	<div class="row">
			<% @pets.each do |pet| %>
				<div class="col-md-3">
					<div class="ibox">
						<div class="ibox-content product-box">

							<%= link_to pet_path(pet) do %>
								
								<div class="product-imitation">
									<%= image_tag(photo_medium_pet_path(pet, photo_id: pet.photos.first.id), :width=> "100%",  :alt => pet.pname) %>
								</div>

								<div class="product-desc">
									<small class="text-muted"><%= pet.breed.name %></small>
									<a href="#" class="product-name"> <%= pet.pname %></a>
									<div class="small m-t-xs">
	                    <%= pet.bio if pet.bio? %>
	                </div>
	               
								</div>
							<% end %>

						</div>
						
					</div>
				</div>
			<% end %>
	</div>
</div>